NODE_ENV=development
PORT=3000
DATABASE_URL=postgres://pilates:pilates123@localhost:5432/pilates_db
DB_SYNC=true
JWT_SECRET=troque-em-producao
JWT_EXPIRATION=15m
JWT_REFRESH_SECRET=troque-refresh-em-producao
JWT_REFRESH_EXPIRATION=7d
RABBITMQ_URL=amqp://pilates:pilates123@localhost:5672
KAFKA_BROKERS=localhost:9094
KAFKA_CLIENT_ID=pilatesos-api
KAFKA_NOTIFICATIONS_GROUP_ID=pilatesos-notifications
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=587
MAIL_USER=seu-user
MAIL_PASS=sua-senha
MAIL_FROM=no-reply@pilatesos.com
